* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: unset !important;
}

.btn.focus,
.btn:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

a:hover {
  text-decoration: none !important;
}

a {
  color: unset !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

/*** BOTOES ***/

.botao {
  border-radius: 5px;
  /* box-shadow: 0px 10px 19px 1px rgb(0 0 0 / 30%); */
  max-width: 100%;
  color: #ffffff;
  height: 50px;
  margin: 0 auto;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bolder;
}

.botao-claregold {
  background-color: #7b3876;
  border: 2px solid #7b3876;
}

/*** BANNER ***/
.banner {
  color: #ffffff;
  font-size: 16px;
  background-image: url(../img/banner_desktop_01.webp),
    url(../img/banner_desktop_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

/*** DESTAQUE VERMELHO ***/
.destaque-vermelho {
  background-color: #ff0000;
  color: #ffffff;
  padding: 1rem 0 1rem;
}

.destaque-vermelho h1 {
  margin: 0;
  font-size: clamp(26px, 3vw, 40px);
  line-height: clamp(32px, 3vw, 46px);
  font-weight: bold;
  text-transform: uppercase;
}

/*** DESTAQUES ***/
.destaque {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 266px;
}

.destaque-cellugold {
  background-image: url(../img/banner_cellugold_01.webp),
    url(../img/banner_cellugold_01.png);
}

.destaque-claregold {
  background-image: url(../img/banner_claregold_01.webp),
    url(../img/banner_claregold_01.png);
}

.destaque-lift-gold {
  background-image: url(../img/banner_liftgold_01.webp),
    url(../img/banner_liftgold_01.png);
}

.destaque-q10-gold {
  background-image: url(../img/banner_q10gold_01.webp),
    url(../img/banner_q10gold_01.png);
}

.destaque-varigold {
  background-image: url(../img/banner_varigold_01.webp),
    url(../img/banner_varigold_01.png);
}

/***** KITS *******/

.kits {
  /* background-image: url(https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/claregold/img/assets/img/fundo_desktop_03-05-08-11.webp); */
  background-color: #ffffff;
  background-position: center center;
  background-size: cover;
  padding: 3rem 0 4rem;
  color: #000000;
}

.kits h2 {
  font-size: clamp(20px, 3vw, 36px);
  line-height: clamp(20px, 3vw, 36px);
  font-weight: bold;
  text-transform: uppercase;
}

.kits h2 span {
  color: #7c3677;
}

.kits h4 {
  margin: 0 auto;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}

.bg-roxo {
  background-color: #7c3677;
}

.bg-escuro {
  background-color: #343434;
}

.bg-cinza {
  background-color: #e8e8e8;
}

.percentual-desconto {
  font-size: clamp(16px, 3vw, 20px);
  line-height: 100%;
  color: #ffffff;
  font-weight: bolder;
  margin-bottom: 3px;
}

.off {
  line-height: 100%;
  color: #ffffff;
  margin: 0;
}

.trofeu {
  line-height: 100%;
  font-size: 34px;
  color: #ffffff;
}

.o-mais {
  margin: 0;
  line-height: 100%;
  font-size: 20px;
  color: #ffffff;
  display: inline;
}

.vendido {
  margin: 0;
  line-height: 100%;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  display: inline;
}

.card {
  border: none;
}

.card-cor-fundo-kits {
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border: unset;
}

.descontos-cards {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  padding: 10px 0 10px;
  margin-top: -40px;
  background-color: #f2ce1b;
}

.titulo-kits {
  color: #0c0507;
  font-size: clamp(18px, 3vw, 18px);
  line-height: clamp(18px, 3vw, 18px);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.titulo-kits span {
  color: #7c3677;
}

.informacoes {
  line-height: 18px;
  margin-bottom: 10px;
}

.de-por {
  font-size: 14px;
  line-height: 14px;
  text-decoration: line-through;
  color: red;
  text-transform: uppercase;
}

.por {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.por span {
  font-weight: bold;
}

.por-apenas {
  font-size: 14px;
  line-height: clamp(31px, 4vw, 34px);
  text-transform: uppercase;
}

.por-apenas span {
  font-weight: bold;
}

.valor {
  color: #7b3876;
  font-family: "Roboto", Sans-serif;
  font-size: clamp(32px, 4vw, 42px);
  line-height: clamp(20px, 4vw, 32px);
  font-weight: bolder;
}

.blinking {
  animation: opacity 1.5s ease-in-out infinite;
  opacity: 1;
}

.seta-esquerda {
  transform: rotate(336deg);
}

.seta-direita {
  transform: rotate(23deg);
}

.contem {
  font-weight: bold;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  /* 50% {
        opacity: 0.5;
      } */
  100% {
    opacity: 0;
  }
}

.cronometro {
  padding: 1rem 0 0.55rem;
  color: #ffffff;
  background-color: #ff0000;
}

.oferta-expira {
  text-transform: uppercase;
  line-height: 100%;
  font-weight: bold;
  margin: 0;
}

.horario {
  font-weight: bold;
  font-size: 42px;
  line-height: 100%;
  margin: 0;
}

/* NOVOS KITS */
.kits-arredondados h1 {
  color: #ffffff;
  font-size: 32px;
  text-transform: uppercase;
  padding: 1rem 0;
  margin-bottom: 0;
  line-height: 100%;
}

.kit-1 {
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  border: 1px solid #040c26;
  background-color: #040c26;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}

.bg-red {
  background-color: #ff0000;
}

.oferta-expira {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}

.horario {
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  margin-left: 22px;
  margin-bottom: 0;
}

.kits-arredondados h1 {
  font-weight: bold;
}

.kits-arredondados h5 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 100%;
  margin: 0;
  margin-top: 0.2rem;
}

.kits-arredondados .valor-antigo,
.kits-arredondados .parcelamento {
  font-size: 16px;
  color: #040c26;
  text-transform: uppercase;
  margin: 0;
  line-height: 100%;
}

.kits-arredondados .valor-novo {
  color: #34c322;
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
  line-height: 100%;
  margin-bottom: 0.3rem;
}

.kits-arredondados .valor-antigo {
  text-decoration: line-through;
  margin-bottom: 4px;
}

.kits-arredondados .final{
  text-decoration: none;
  font-weight: bolder;
}

.botao {
  color: #ffffff;
  background-color: #34c322;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  padding: 10px 20px;
  line-height: 100%;
}

/* KITS MOBILE */

.bg-mobile {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #0000004d;
  opacity: 1;
}

.kits-mobile h1 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.kits-mobile .desconto {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0.7rem;
  line-height: 100%;
}

.kits-mobile p {
  font-size: 10px;
}

.kits-mobile .valor-antigo {
  text-transform: uppercase;
  text-decoration: line-through;
  font-size: 10px;
  margin: 0;
  line-height: 100%;
  margin-bottom: 0.3rem;
}

.kits-mobile .final {
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0.3rem;
}

.kits-mobile .valor-novo {
  font-weight: bold;
  color: #34c322;
  font-size: 26px;
  margin: 0;
  line-height: 100%;
  margin-bottom: 0.3rem;
}

.kits-mobile .parcelamento {
  font-size: 12px;
  color: #040c26;
  text-transform: uppercase;
  margin: 0;
  line-height: 100%;
}

.kits-mobile .botao {
  font-size: 20px;
}

.kits-mobile .oferta-expira {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  margin-left: -10px;
}

.kits-mobile .horario {
  color: red;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  margin-left: -10px;
  margin-bottom: 0;
}

/**** CONTADOR ****/
.min {
  font-size: 42px;
  font-weight: bold;
  /* margin: 10px 0 0; */
  line-height: 100%;
}

.seg {
  font-size: 42px;
  font-weight: bold;
  /* margin: 10px 0 0; */
  line-height: 100%;
}

/****** DEPOIMENTOS ******/

.depoimentos {
  font-family: "Roboto", sans-serif;
  padding: 2rem 0 2rem;
  background-color: #ffffff;
}

.depoimentos .dotted {
  border: 2px dotted#d5426c;
  font-style: italic;
  margin-bottom: 20px;
}

.titulo-secao-depoimentos {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-size: 36px;
  letter-spacing: 0;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  line-height: 100%;
}

.titulo-secao-depoimentos + h2 {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-size: 36px;
  letter-spacing: 0;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1rem;
  margin-top: 0;
}

.depoimentos .card-body {
  padding: 0.8rem;
}

.depoimentos .card h3 {
  color: #7c3677;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 24px;
}

.depoimentos .card span {
  font-weight: normal;
}

.conteudo-depoimentos {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #54595f;
}

/* BENEFICIOS */
.beneficios {
  background-color: #f5f5f5;
  padding: 2rem 0 2rem;
  font-weight: bold;
}

.beneficios h1 {
  text-transform: uppercase;
  font-size: 26px;
}

.beneficios ul {
  list-style: none;
  padding-left: 0;
}

.beneficios ul li {
  margin-bottom: 1rem;
  font-size: clamp(16px, 3vw, 20px);
}

.beneficios ul li i {
  margin-right: 0.5rem;
}

/* ANVISA */
.anvisa {
  padding: 2rem 0 2rem;
}

.anvisa h2 {
  font-size: clamp(20px, 3vw, 30px);
  line-height: clamp(20px, 3vw, 38px);
  font-weight: bold;
  text-transform: uppercase;
}

/***** PERGUNSTAS FREQUENTES *******/
.perguntas-frequentes {
  font-family: "Roboto", sans-serif;
  padding: 2rem 0 2rem;
  background-color: #fefefe;
}

.perguntas-frequentes h2 {
  font-size: clamp(20px, 3vw, 36px);
  line-height: clamp(20px, 3vw, 36px);
  font-weight: bold;
  text-transform: uppercase;
}

/***** ACORDION *******/

.btn-link {
  width: 100%;
  color: #000000 !important;
  font-weight: bold !important;
  text-align: left !important;
  text-decoration: none !important;
}

.btn-link:after {
  content: "\2212";
  width: 35px;
  font-size: 25px;
  text-align: center;
  right: 5px;
  top: 5px;
  position: absolute;
  /* background-color: #e8eeff; */
  color: #5a5a5a;
}

.bordas-accordion {
  border: none !important;
  border-bottom: 1px solid #d4d4d4 !important;
  border-left: 1px solid #d4d4d4 !important;
  border-right: 1px solid #d4d4d4 !important;
  border-radius: 0 !important;
}

.bordas-accordion:first-child {
  border-top: 1px solid #d4d4d4 !important;
}

.bordas-accordion:last-child {
  border-bottom: 1px solid #d4d4d4 !important;
}

.accordion {
  background-color: none !important;
  border: none !important;
  background-color: #ffffff !important;
}

.btn-link.collapsed:after {
  content: "\002B";
  color: #5a5a5a;
}

.conteudo-acordion {
  background-color: #f9f9f9 !important;
}
/********** SELOS ************/

.selos {
  padding: 2rem 0 2rem;
}

/********** RODAPE ************/

#rodape {
  text-align: center;
  background-color: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 20px;
}

#rodape h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.img-rodape {
  width: 100%;
  max-width: 180px;
  margin: 0 auto 20px;
  display: block;
}

.whats {
  width: 100%;
  max-width: 200px;
}

.correios {
  max-width: 150px;
}

.telefone {
  margin-bottom: 2px;
}

.email {
  margin-bottom: 2px;
}

.termos {
  margin-bottom: 0;
}

.trocas {
  margin-top: 0;
}

.copyright {
  font-size: 14px;
  margin-top: 25px;
  font-weight: bold;
}

/********** WHATS ROLANTE ***************/

#whatsapp-rolante {
  text-align: right;
  position: fixed;
  /* z-index: 10000; */
  bottom: 10px;
  right: 0px;
}
/********** PC ***************/

@media (min-width: 768px) {
  .botao-whats {
    width: 20%;
  }
}

/********** MOBILE ***************/

@media (max-width: 768px) {
  .botao-whats {
    width: 15%;
  }
}

@media (max-width: 584px) {
  .botao-topo {
    font-size: 20px;
  }
  .topo img {
    max-width: 80px;
  }
  .kits .campeao {
    max-width: 150px;
  }
  .valor {
    font-size: 30px;
  }
}

@media (max-width: 584px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../img/fundo.webp), url(../img/fundo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    padding: 0 0 2rem;
  }

  .destaque-vermelho {
    padding: 0.5rem 0 0.5rem;
  }

  .destaque-cellugold {
    background-image: url(../img/banner_cellugold_mobile_01.webp),
      url(../img/banner_cellugold_01_mobile.png);
    height: 180px;
  }

  .destaque-claregold {
    background-image: url(../img/banner_claregold_mobile_01.webp),
      url(../img/banner_claregold_mobile_01.png);
      height: 180px;
  }

  .destaque-lift-gold {
    background-image: url(../img/banner_liftgold_mobile_01.webp),
      url(../img/banner_liftgold_mobile_01.png);
      height: 180px;
  }

  .destaque-q10-gold {
    background-image: url(../img/banner_q10gold_mobile_01.webp),
      url(../img/banner_q10gold_mobile_01.png);
      height: 180px;
  }

  .destaque-varigold {
    background-image: url(../img/banner_varigold_mobile_01.webp),
      url(../img/banner_varigold_mobile_01.png);
      height: 180px;
  }

  .kits {
    padding: 3rem 0 3rem;
  }
}
