* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: unset !important;
}

.btn.focus,
.btn:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

a:hover {
  text-decoration: none !important;
}

a {
  color: unset !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

/*** BOTOES ***/

.botao {
  border-radius: 5px;
  /* box-shadow: 0px 10px 19px 1px rgb(0 0 0 / 30%); */
  max-width: 80%;
  color: #ffffff;
  height: 50px;
  margin: 0 auto;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bolder;
}

.botao-claregold {
  background-color: #7b3876;
  border: 2px solid #7b3876;
}

/*** BANNER ***/
.banner {
  color: #ffffff;
  font-size: 16px;
  background-image: url(../img/banner_desktop.webp),
    url(../img/banner_desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 481px;
}

/*** DESTAQUE VERMELHO ***/
.destaque-vermelho {
  background-color: #ff0000;
  color: #ffffff;
  padding: 1rem 0 1rem;
}

.destaque-vermelho h1 {
  margin: 0;
  font-size: clamp(26px, 3vw, 40px);
  line-height: clamp(32px, 3vw, 46px);
  font-weight: bold;
  text-transform: uppercase;
}

/*** DESTAQUES ***/
.destaque {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 260px;
}

.destaque-cellugold {
  background-image: url(../img/banner_cellugold.webp),
    url(../img/banner_cellugold.png);
}

.destaque-claregold {
  background-image: url(../img/banner_claregold.webp),
    url(../img/banner_claregold.png);
}

.destaque-lift-gold {
  background-image: url(../img/banner_liftgold.webp),
    url(../img/banner_liftgold.png);
}

.destaque-q10-gold {
  background-image: url(../img/banner_q10gold.webp),
    url(../img/banner_q10gold.png);
}

.destaque-varigold {
  background-image: url(../img/banner_varigold.webp),
    url(../img/banner_varigold.png);
}
/***** KITS *******/

.kits {
  background-image: url(https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/claregold/img/assets/img/fundo_desktop_03-05-08-11.webp);
  background-position: center center;
  background-size: cover;
  padding: 2rem 0 2rem;
  color: #000000;
}

.kits h2 {
  font-size: clamp(20px, 3vw, 36px);
  line-height: clamp(20px, 3vw, 36px);
  font-weight: bold;
  text-transform: uppercase;
}

.kits h2 span {
  color: #7c3677;
}

.kits h4 {
  margin: 0 auto;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}

.bg-roxo {
  background-color: #7c3677;
}

.bg-escuro {
  background-color: #343434;
}

.bg-cinza {
  background-color: #e8e8e8;
}

.percentual-desconto {
  font-size: clamp(16px, 3vw, 20px);
  line-height: 100%;
  color: #ffffff;
  font-weight: bolder;
  margin-bottom: 3px;
}

.off {
  line-height: 100%;
  color: #ffffff;
  margin: 0;
}

.trofeu {
  line-height: 100%;
  font-size: 34px;
  color: #ffffff;
}

.o-mais {
  margin: 0;
  line-height: 100%;
  font-size: 20px;
  color: #ffffff;
  display: inline;
}

.vendido {
  margin: 0;
  line-height: 100%;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  display: inline;
}

.card {
  border: none;
}

.card-cor-fundo-kits {
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border: unset;
}

.descontos-cards {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  padding: 10px 0 10px;
  margin-top: -40px;
  background-color: #f2ce1b;
}

.titulo-kits {
  color: #0c0507;
  font-size: clamp(18px, 3vw, 18px);
  line-height: clamp(18px, 3vw, 18px);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.titulo-kits span {
  color: #7c3677;
}

.informacoes {
  line-height: 18px;
  margin-bottom: 10px;
}

.de-por {
  font-size: 14px;
  line-height: 14px;
  text-decoration: line-through;
  color: red;
  text-transform: uppercase;
}

.por {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.por span {
  font-weight: bold;
}

.por-apenas {
  font-size: 14px;
  line-height: clamp(31px, 4vw, 34px);
  text-transform: uppercase;
}

.por-apenas span {
  font-weight: bold;
}

.valor {
  color: #7b3876;
  font-family: "Roboto", Sans-serif;
  font-size: clamp(32px, 4vw, 42px);
  line-height: clamp(20px, 4vw, 32px);
  font-weight: bolder;
}

.blinking {
  animation: opacity 1.5s ease-in-out infinite;
  opacity: 1;
}

.seta-esquerda {
  transform: rotate(336deg);
}

.seta-direita {
  transform: rotate(23deg);
}

.contem {
  font-weight: bold;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  /* 50% {
        opacity: 0.5;
      } */
  100% {
    opacity: 0;
  }
}

@media (max-width: 584px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/fundo.webp), url(../img/fundo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    padding: 0 0 2rem;
  }

  .destaque-vermelho {
    padding: 0.5rem 0 0.5rem;
  }

  .destaque-cellugold {
    background-image: url(../img/banner_cellugold_mobile.webp),
      url(../img/banner_cellugold_mobile.png);
    height: 160px;
  }

  .destaque-claregold {
    background-image: url(../img/banner_claregold_mobile.webp),
      url(../img/banner_claregold_mobile.png);
  }

  .destaque-lift-gold {
    background-image: url(../img/banner_liftgold_mobile.webp),
      url(../img/banner_liftgold_mobile.png);
  }

  .destaque-q10-gold {
    background-image: url(../img/banner_q10gold_mobile.webp),
      url(../img/banner_q10gold_mobile.png);
  }

  .destaque-varigold {
    background-image: url(../img/banner_varigold_mobile.webp),
      url(../img/banner_varigold_mobile.png);
  }
}
