* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: unset !important;
}

.btn.focus,
.btn:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

a:hover {
  text-decoration: none !important;
}

a {
  color: unset !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

/*** BANNER ***/
.banner {
  color: #ffffff;
  font-size: 16px;
  background-image: url(../img/banner_desktop.webp),
    url(../img/banner_desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 481px;
}

/*** DESTAQUE VERMELHO ***/
.destaque-vermelho {
  background-color: #ff0000;
  color: #ffffff;
  padding: 1rem 0 1rem;
}

.destaque-vermelho h1 {
  margin: 0;
  font-size: clamp(26px, 3vw, 40px);
  line-height: clamp(32px, 3vw, 46px);
  font-weight: bold;
  text-transform: uppercase;
}

/*** DESTAQUE ***/
.destaque {
  /* background-image: url(../img/fundo-principal.jpg); */
  background-image: url(../img/banner_varigold.webp),
    url(../img/banner_varigold.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 266px;
}

@media (max-width: 584px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/fundo.webp), url(../img/fundo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    padding: 0 0 2rem;
  }

  .destaque-vermelho {
    padding: 0.5rem 0 0.5rem;
  }

  .destaque {
    background-image: url(../img/banner_varigold_mobile.webp),
      url(../img/banner_varigold_mobile.png);
    height: 160px;
  }
}
